<header class="container-fluid fixed-top bg-dark">
    <div class="row col-lg-12">
        <div class="col-md-6 col-sm-6">
            <a href="javascript:;" class="brand">KonnEcho</a>
        </div>
        <div class="col-md-6 col-sm-6">
            <button class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">MS</button>
            <div class="dropdown-menu">
                <h3 class="dropdown-item" href="javascript:;">M Sandeep</h3>
                <a class="dropdown-item" href="javascrit:;">Logout</a>
            </div>
        </div>
    </div>
</header>