.card{
    margin: 15px auto;
    padding: 10px 0;
}
.card:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
form{
    padding: 10px;
}

.lyrics-form{
    margin-bottom: 50px; 
}
.tracks{
    margin: 20px auto;
}
ul{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: table;
}
ul li{
    float: left;
    padding: 0 10px;
}
.btn-warning{
    color: #fff;
}